html {
    font-size: 14px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 60px;
}

.container-fluid {
    flex: 1;
}

/* Initial animation styles */
.animated {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    visibility: hidden; /* Hide elements initially */
}

/* Show animation on page load or scroll */
.animated.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

/* Add a click animation */
.animated-click {
    animation: clickBounce 0.3s ease-in-out;
}

/* Click bounce effect */
@keyframes clickBounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

